<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <link rel='stylesheet' href='./css/style.css' />
    <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
    <title>Tech Blog</title>
  </head>
  <body>
    <div class='wrapper'>
      <header>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>