<link rel='stylesheet' href='./css/style.css' />
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css'
  integrity='sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
/>
<section id='main-wrapper'>
  <header class='chat-header'>
    <div id='empty'></div>
    <div class='chat-info'>
      <h4 id='room-name'></h4>
      <ul id='users'>

      </ul>
    </div>
    <a href='/' class='btn' id='leave-room'>
      <i class='fa-solid fa-arrow-right-from-bracket' id='leave-icon'></i></a>
  </header>
  <div class='chat-container'>
    <main class='chat-main'>
      <div class='chat-messages'>
        <div class='inner-message-container'>
        </div>
        <div class='user-typing'>
        </div>
      </div>
    </main>
  </div>
  <div class='chat-form-container'>
    <i class='fa-solid fa-angle-down scrollBottom'></i>
    <form id='chat-form'>
      <input
        id='msg'
        type='text'
        placeholder='Enter Message'
        required='true'
        autocomplete='off'
      />
      <button type='submit' class='btn submit-btn'>
        <i class='fa-solid fa-paper-plane'></i>
      </button>
    </form>
  </div>
</section>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js'
  integrity='sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
></script>
<script src='/socket.io/socket.io.js'></script>
<script src='./js/script.js'></script>