<link rel='stylesheet' href='./css/style.css' />
<section id='main-wrapper'>
  <header class='chat-header'>
    <div id='empty'></div>
    <div class='chat-info'>
      <h4 id='room-name'></h4>
      <ul id='users'>

      </ul>
    </div>
    <a href='/' class='btn' id='leave-room'>Leave
      <br />
      Room</a>
  </header>
  <div class='chat-container'>
    <main class='chat-main'>
      <div class='chat-messages'>
        <div class='inner-message-container'>
        </div>
        <div class='user-typing'>
        </div>
      </div>
    </main>
  </div>
  <div class='chat-form-container'>
    <form id='chat-form'>
      <input
        id='msg'
        type='text'
        placeholder='Enter Message'
        required
        autocomplete='off'
      />
      <button type='submit' class='btn submit-btn'>
        <i class='fas fa-paper-plane'></i>
        Send
      </button>
    </form>
  </div>
</section>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js'
  integrity='sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
></script>
<script src='/socket.io/socket.io.js'></script>
<script src='./js/script.js'></script>