<link rel='stylesheet' href='./css/style.css' />
<div class='join-container'>
  <h1>Let's Chat!</h1>
  <main class='join-main'>
    <form id='join-form' action='/chat'>
      <div class='form-control'>
        <input
          type='text'
          name='username'
          id='username'
          placeholder='Enter username...'
        />
      </div>
      <div id='form-control-outer'>

        <div class='form-control'>
          <select name='room' id='room'>
            <option value='Room 1'>Room 1</option>
            <option value='Room 2'>Room 2</option>
            <option value='Room 3'>Room 3</option>
          </select>
        </div>
        <button type='submit' class='btn join-chat'>Join Chat</button>
      </div>
    </form>
  </main>
</div>