@font-face {
  font-family: 'PoppinsHeader';
  src: url('../public/Fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'PoppinsBody';
  src: url('../public/Fonts/Poppins/Poppins-Medium.ttf');
}

body {
  height: 100vh;
}

.join-container {
  background: linear-gradient(-45deg, #ffcebf, #fa86b2, #5bb8da, #71e1c7);
  background-size: 1000% 1000%;
  animation: gradient 50s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PoppinsBody', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'PoppinsHeader';
}

h1,
h2,
h3,
h4,
h5,
textarea,
p,
input,
input::placeholder,
textarea::placeholder {
  color: #333;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.8;
}

input,
textarea,
select {
  font-size: 18px;
  resize: none;
  color: black;
  width: 60vw;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
input,
textarea {
  background-color: rgba(0, 0, 0, 0.1);
}

select {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
    linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  padding-top: 8px;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

#main-wrapper {
  overflow: hidden;
}
/* ------------- Homepage CSS */

.join-container {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#join-form {
  text-align: center;
}

.join-main {
  width: 320px;
}
.form-control input,
.form-control select {
  width: 100%;
}

.form-control select {
  margin: 10px 0;
}

/* ------------- Chat page CSS */

.chat-container {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 208, 225);
}

.chat-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  padding: 10px 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#empty {
  width: 122px;
}

#leave-room {
  color: black;
  font-size: 18px;
  line-height: 1.2;
}

.chat-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.chat-info ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.chat-info ul li {
  margin: 0 3px;
  font-size: 15px;
  opacity: 0.7;
}

.chat-info ul li:first-child {
  margin: 0;
}

.chat-main {
  width: 60vw;
  padding: 75px 10px;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

#msg-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#msg-body .text {
  font-size: 15px;
}

#notCurrentUser {
  background-color: rgb(255, 255, 255);
}

#notCurrentUser .meta {
  color: red;
}

#currentUser {
  background-color: rgb(255, 255, 255);
}

#currentUser .meta {
  color: blue;
}

#msg-time {
  font-size: 14px;
  margin-left: 5px;
  opacity: 0.8;
  color: black;
}

#chat-form {
  display: flex;
  align-items: center;
}
.chat-form-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.submit-btn {
  background-color: rgb(0, 162, 255);
  color: white;
  padding: 11px 17px;
}

@media (max-width: 700px) {
  .submit-btn {
    padding: 7px 15px;
  }

  #empty {
    display: none;
  }
  .chat-info {
    align-items: flex-end;
  }

  input {
    font-size: 14px;
    resize: none;
    color: black;
    width: 80vw;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
  }

  button {
    padding: 8px 14px;
  }

  .chat-info ul li {
    font-size: 14px;
  }
  .chat-messages {
    width: 100%;
  }

  .chat-main {
    width: 100vw;
  }
}
