@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e4e6ff;
  --otherusers-color: #dbdbff;
  --activeUser-color: rgb(202, 224, 255);
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chat-container {
  background: #fff;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  margin-top: 65px;
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 10px;
}

.chat-sidebar h3:nth-child(3) {
  margin-bottom: 0;
}

.chat-sidebar ul li {
  padding: 5px 0;
}

.chat-messages {
  padding: 90px 30px;
  max-height: 100vh;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* List element */
#activeuser {
  color: rgb(50, 235, 50);
}

/* Message elements */
#notCurrentUser {
  background-color: var(--otherusers-color);
  text-align: right;
}
#currentUser {
  background-color: var(--activeUser-color);
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 15px;
  height: 40px;
  flex: 1;
  margin-right: 5px;
}

.btn,
#msg {
  border: none;
  border-radius: 5px;
}

/* Join Page */
.join-container {
  color: #fff;
  background: var(--dark-color-b);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join-header {
  text-align: center;
  padding: 20px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
